    <!DOCTYPE html>
<html>
<head>
    <title>To-Do App</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/app.js"></script>

</head>
<body>
    <h1>Mis Tareas</h1>

    <form action="/agregar" method="post">
        <input type="text" name="tarea" required>
        <button>Agregar</button>
    </form>

    <ul>
        {% for t in tareas %}
        <li>
            {{ t[1] }}
            <a href="/eliminar/{{ t[0] }}">❌</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
